<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Inventory App</title>
        <link rel="stylesheet" href="/card-layout.css">
          <script src="/js/studio-dialogs.js" defer></script>
    </head>
<body>
    <div class="header-wrapper">
        <header>
            <%- include('partials/navbar') %>
        </header>
    </div>
    <div class="main-wrapper">
        <main>
            <button class="open-add-dialog-button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M352 128C352 110.3 337.7 96 320 96C302.3 96 288 110.3 288 128L288 288L128 288C110.3 288 96 302.3 96 320C96 337.7 110.3 352 128 352L288 352L288 512C288 529.7 302.3 544 320 544C337.7 544 352 529.7 352 512L352 352L512 352C529.7 352 544 337.7 544 320C544 302.3 529.7 288 512 288L352 288L352 128z"/></svg></button>
            <div class="cards-container">
            <% if(!studios.length){ %>
                <p>No studio added yet!</p>
            <% } else{ %>
                <%  studios.forEach(studio=>{%>
                    <div class="card">
                        <div class="url-container">
                             <a href="/studios/<%= studio.id %>" class="card"><%= studio.name%></a>
                        </div>          
                        <div class="button-container">
                            <form action="studios/<%= studio.id %>/delete" method="post">
                                <button class="delete-button" type="submit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M232.7 69.9L224 96L128 96C110.3 96 96 110.3 96 128C96 145.7 110.3 160 128 160L512 160C529.7 160 544 145.7 544 128C544 110.3 529.7 96 512 96L416 96L407.3 69.9C402.9 56.8 390.7 48 376.9 48L263.1 48C249.3 48 237.1 56.8 232.7 69.9zM512 208L128 208L149.1 531.1C150.7 556.4 171.7 576 197 576L443 576C468.3 576 489.3 556.4 490.9 531.1L512 208z"/></svg></button>
                            </form>
                            <button
                                class="edit-button"
                                data-name="<%=studio.name%>"
                                data-description="<%=studio.description%>"
                                data-id="<%=studio.id%>"
                                data-img-url="<%=studio.img_url%>"
                                ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.3.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d="M535.6 85.7C513.7 63.8 478.3 63.8 456.4 85.7L432 110.1L529.9 208L554.3 183.6C576.2 161.7 576.2 126.3 554.3 104.4L535.6 85.7zM236.4 305.7C230.3 311.8 225.6 319.3 222.9 327.6L193.3 416.4C190.4 425 192.7 434.5 199.1 441C205.5 447.5 215 449.7 223.7 446.8L312.5 417.2C320.7 414.5 328.2 409.8 334.4 403.7L496 241.9L398.1 144L236.4 305.7zM160 128C107 128 64 171 64 224L64 480C64 533 107 576 160 576L416 576C469 576 512 533 512 480L512 384C512 366.3 497.7 352 480 352C462.3 352 448 366.3 448 384L448 480C448 497.7 433.7 512 416 512L160 512C142.3 512 128 497.7 128 480L128 224C128 206.3 142.3 192 160 192L256 192C273.7 192 288 177.7 288 160C288 142.3 273.7 128 256 128L160 128z"/></svg>
                            </button>
                        </div>
                    </div>
                    <% })%>
                <% } %>
            </div>
        </main>
        <dialog id="add-dialog">
                <form method="post" action="/studios/new">
                    <h2>Add a Studio</h2>
                     <div class="error-message"></div>
                    <label for="name">Name<input type="text" name="name" ></label>
                    <label for="description">Description<textarea name="description" ></textarea></label>
                    <label for="img_url">Image-Url<input name="img_url" id="img_url" value=""></label>
                    <div class="form-button-container">
                        <button type="button" class="cancel-button">Cancel</button>
                        <button type="submit" class="add-button">Add</button>
                    </div>
                </form>
            </dialog>
                <dialog id="edit-dialog" >
                    <form method="post" action="">
                        <h2>Edit Studio</h2>
                         <div class="error-message"></div>
                        <label for="name">Name<input type="text" name="name" ></label>
                        <label for="description">Description<textarea name="description" ></textarea></label>
                        <label for="img_url">Image-Url<input name="img_url" id="img_url"></label>
                        <div class="form-button-container">
                            <button type="button" class="cancel-button">Cancel</button>
                            <button type="submit" class="add-button">Update</button>
                        </div>
                    </form>
                </dialog>
        </div>
    <div class="footer-wrapper">
        <%-include('partials/footer')%>
    </div>  
</body>
</html>