<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Inventory App</title>
        <link rel="stylesheet" href="/card-layout.css">
          <script src="/js/studio-dialogs.js" defer></script>
    </head>
<body>
    <div class="header-wrapper">
        <header>
            <%- include('partials/navbar') %>
        </header>
    </div>
    <div class="main-wrapper">
        <main>
            <button class="open-add-dialog-button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M352 128C352 110.3 337.7 96 320 96C302.3 96 288 110.3 288 128L288 288L128 288C110.3 288 96 302.3 96 320C96 337.7 110.3 352 128 352L288 352L288 512C288 529.7 302.3 544 320 544C337.7 544 352 529.7 352 512L352 352L512 352C529.7 352 544 337.7 544 320C544 302.3 529.7 288 512 288L352 288L352 128z"/></svg></button>
            <div class="cards-container">
            <% if(!studios.length){ %>
                <p>No studio added yet!</p>
            <% } else{ %>
                <%  studios.forEach(studio=>{%>
                    <div class="card">
                        <div class="url-container">
                             <a href="/studios/<%= studio.id %>" class="card"><%= studio.name%></a>
                        </div>          
                        <div class="button-container">
                            <form action="studios/<%= studio.id %>/delete" method="post">
                                <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M232.7 69.9L224 96L128 96C110.3 96 96 110.3 96 128C96 145.7 110.3 160 128 160L512 160C529.7 160 544 145.7 544 128C544 110.3 529.7 96 512 96L416 96L407.3 69.9C402.9 56.8 390.7 48 376.9 48L263.1 48C249.3 48 237.1 56.8 232.7 69.9zM512 208L128 208L149.1 531.1C150.7 556.4 171.7 576 197 576L443 576C468.3 576 489.3 556.4 490.9 531.1L512 208z"/></svg></button>
                            </form>
                            <button
                                class="edit-button"
                                data-name="<%=studio.name%>"
                                data-description="<%=studio.description%>"
                                data-id="<%=studio.id%>">Edit
                            </button>
                        </div>
                    </div>
                    <% })%>
                <% } %>
            </div>
        </main>
        <dialog id="add-dialog">
                <form method="post" action="/studios/new">
                    <h2>Add a Studio</h2>
                    <label for="name">Name<input type="text" name="name" required></label>
                    <label for="description">Description<textarea name="description" required></textarea></label>
                    <div class="form-button-container">
                        <button type="button" class="cancel-button">Cancel</button>
                        <button type="submit" class="add-button">Add</button>
                    </div>
                </form>
            </dialog>
                <dialog id="edit-dialog" >
                    <form method="post" action="">
                        <h2>Edit Studio</h2>
                        <label for="name">Name<input type="text" name="name" required></label>
                        <label for="description">Description<textarea name="description" required></textarea></label>
                        <div class="form-button-container">
                            <button type="button" class="cancel-button">Cancel</button>
                            <button type="submit" class="add-button">Update</button>
                        </div>
                    </form>
                </dialog>
        </div>
    <div class="footer-wrapper">
        <%-include('partials/footer')%>
    </div>  
</body>
</html>