<html lang="en">
    <head>
        <meta charset="UTF-8">
         <title>Inventory App</title>
        <link rel="stylesheet" href="/allStudios.css" />
    </head>
    <body>
        <div class="header-wrapper">
             <header>
                <%- include('partials/navbar') %>
            </header>
        </div>
        <div class="main-wrapper">
            <main>
            <h1>All studios</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Modify</th>
                    </tr>
                    <tbody>
                        <% studios.forEach(studio=>{%>
                            <tr>
                                <th scope="row"><%= studio.name %></th>
                                <td><%= studio.description %></td>
                                <td>
                                    <form action="/studios/<%= studio.id %>/delete" method="POST">
                                    <button type="submit">Delete</button>
                                </td>
                            </tr>
                       <% }) %>
                    </tbody>
                </thead>
            </table>
        </main>
        </div>
        <div class="footer-wrapper">
             <%- include('partials/footer') %>
        </div>
    </body>
</html>