<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory App</title>
    <link rel="stylesheet" href="/movie-form-page.css">
</head>
<body>
    <div class="header-wrapper">
        <header>
            <%- include('partials/navbar') %>
        </header>
    </div>
    <div class="main-wrapper">
        <main>
        <h1>Edit Movie</h1>
            <form action="/movies/<%= movie.id %>/edit" method="post">
                <label>Name<input required name="name" value="<%=movie.name%>"></label>
                <label>Description<textarea required name="description"><%=movie.description%></textarea></label>
                <label for="select-genre"></label> 
                <select id="select-genre" name="genre_id" required>
                    <% genres.forEach(genre=>{%>
                        <% if(genre.id == movie.genre_id){%>
                            <option value="<%= genre.id%>" selected>
                            <%= genre.name %>
                        </option>
                        <%}else{%>
                        <option value="<%= genre.id%>">
                            <%= genre.name %>
                        </option>
                        <%}%>                        
                    <%})%>
                </select>
                <label for="select-studio"></label>
                <select id="select-studio" name="studio_id">
                    <option value="">No studio</option>
                    <% studios.forEach(studio=>{%>
                        <option value="<%= studio.id%>">
                            <%= studio.name %>
                        </option>
                    <%})%>
                </select>
                <div class="button-container">
                       <a href="/movies">Cancel</a>
                    <button type="submit">Update</button>
                </div>
            </form>
         </main>
    </div>
    <div class="footer-wrapper">
         <%-include('partials/footer')%>
    </div>
</body>
</html>