<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Inventory App</title>
    <link rel="stylesheet" href="/table-layout.css" />
    </head>
    <body>
        <div class="header-wrapper">
             <header>
                <%- include('partials/navbar') %>
            </header>
        </div>
        <div class="main-wrapper">
             <main>
            <h1><%= genre.name %> movies</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Modify</th>
                    </tr>
                    <tbody>
                        <% movies.forEach(movie=>{%>
                            <tr>
                                <th scope="row"><a href="/movies/<%= movie.id %>"><%= movie.name %></a></th>
                                <td>
                                    <form action="/movies/<%= movie.id %>/delete" method="POST">
                                    <button type="submit">Delete</button>
                                </td>
                            </tr>
                       <% }) %>
                    </tbody>
                </thead>
            </table>
        </main>
        </div>
        <div class="footer-wrapper">
            <%-include('partials/footer')%>
        </div>
    </body>
</html>